#ignoring virtual environmental installations
.venv/
#ignoring all .env file using **.env
**.env  
# ignoring the development containers
.devcontainer/
#Private Learning Center

000_Learning_Center/All-Machine-Learning-Algorithms/
000_Learning_Center/ML_Model_Notebooks/
000_Learning_Center/Model_Summary_Enhanced.xlsx
000_Learning_Center/Model_Summary_Filled.xlsx
000_Learning_Center/Ultimate_ML_Cheat_Sheet.xlsx


# 009 Projects
009_Custom_Vision_Model/Complete_CustomVision_Notebook.ipynb
009_Custom_Vision_Model/Tagged_testImage
009_Custom_Vision_Model/Test_Frames
009_Custom_Vision_Model/Train_Frames
#ignoring all the videos
**.mov


#if the file/ folder  is already commited use this 
#git rm -r --cached folder name
#git commit -m "Stop tracking foldername folder"

#009_Gen AI Projects -Has an ENV file
999_GEN_AI_Projects/