ipykernel
pandas
numpy
scikit-learn
tensorboard
matplotlib
streamlit
scikeras
tensorflow==2.15.0
category-encoders
scipy 
openpyxl
missingno
imblearn
kagglehub
transformers
tqdm
opencv-python==4.6.0.66
moviepy
azure-cognitiveservices-vision-customvision